<div class="slide-content emonshi-slide" data-slider="2">
    <div class="row reverse">
        <div class="col-xs-12 col-sm-6 no-select no-drag">
            <div class="image-holder">
                <div class="doctor-container p-a wow fadeIn" data-wow-delay="0.5s">
                    <img class="doctor" src="../../../assets/images/board/emonshi/doctor.svg" width="360" height="476" style="width: 360px;height: 476px;">
                </div>
                <div class="table-container p-a">
                    <div class="notification lighter-text-color font-weight-light font-size-12 wow fadeInUp" data-wow-delay="1.5s">
                        <span>
                            شما یک بیمار جدید در ساعت ۱۲ فردا دارید. <strong>پرداخت: کامل</strong>
                        </span>
                    </div>
                    <div class="wow fadeInLeft" data-wow-delay="0.7s">
                        <img class="doctors-phone" src="../../../assets/images/board/emonshi/doctors-phone.svg" width="47" height="19" style="width: 47px;height: 19px;">
                        <img class="table" src="../../../assets/images/board/emonshi/table.svg" width="194" height="220" style="width: 194px;height: 220px;">
                    </div>
                </div>
                <div class="patient-card-container p-a">
                    <img class="wow fadeInRight" data-wow-delay="1.8s" src="../../../assets/images/board/emonshi/patient-card.svg" width="219" height="369" style="width: 219px;height: 369px;">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 text-content-holder">
            <div class="text-content">
                <div class="slide-label">
                    <a href="software.html" class="label transparent-white">توسعه نرم‌افزار</a>
                    <h2 class="m-t-35">
                        <span class="block">طراحی اپلیکیشن و نرم‌افزارهای هوشمند و منحصر به فرد</span>
                        <strong class="block"> بر اساس آخرین استانداردهای روز دنیا</strong>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>