<div class="slide-content marketing-slide" data-slider="1">
    <div class="row reverse">
        <div class="col-xs-12 col-sm-6 no-select no-drag">
            <div class="image-holder">
                <div class="lines p-a wow zoomIn">
                    <img src="../../../assets/images/board/marketing/lines.svg" height="261" width="829" style="width: 829px;height: 261px;">

                    <div class="line-icons p-a">
                        <img class="cactus wow fadeInDown" data-wow-delay="0.9s" src="../../../assets/images/board/marketing/cactus.svg" height="40" width="21" style="width: 21px;height: 40px;">
                        <div class="cube right-cube"><img class="wow fadeInDown" data-wow-delay="1.0s" src="../../../assets/images/board/marketing/cube.svg" width="52" height="30" style="width: 52px;height: 30px;"></div>
                        <div class="cube left-cube"><img class="wow fadeInDown" data-wow-delay="1.1s" src="../../../assets/images/board/marketing/cube.svg" height="30" width="52" style="width: 52px;height: 30px;"></div>
                        <img class="trees wow fadeInDown" data-wow-delay="1.2s" src="../../../assets/images/board/marketing/trees.svg" width="20" height="49" style="width: 20px;height: 49px;">
                    </div>
                </div>

                <div class="podiums p-a">
                    <img class="large-podium wow fadeInUp" data-wow-delay="0.6s" src="../../../assets/images/board/marketing/podium.svg" height="339" width="213" style="width: 213px;height: 339px;">
                    <img class="smaller-podium wow fadeInUp" data-wow-delay="0.8s" src="../../../assets/images/board/marketing/podium.svg" width="213" height="339" style="width: 339px;height: 213px;">
                </div>

                <div class="person p-a wow fadeInUp" data-wow-delay="0.7s">
                    <img class="pink-woman" src="../../../assets/images/board/marketing/pink-woman.svg" width="165" height="225" style="width: 165px;height: 225px;">
                </div>

                <div class="social-elements p-a">
                    <img class="facebook-element wow fadeInRight" data-wow-delay="1s" src="../../../assets/images/board/marketing/facebook.svg" height="158" width="197" style="width: 197px;height: 158px;">
                    <img class="twitter-element wow fadeInRight" data-wow-delay="1.1s" src="../../../assets/images/board/marketing/twitter.svg" width="196" height="157" style="width: 196px;height: 157px;">
                    <img class="instagram-element wow fadeInRight" data-wow-delay="1.2s" src="../../../assets/images/board/marketing/instagram.svg" height="157" width="196" style="width: 196px;height: 157px;">
                </div>

                <!--<div class="notes p-a wow fadeInLeft parallax" data-wow-delay="3s">-->
                <!--<img src="../../../assets/images/board/marketing/notes.svg" >-->
                <!--</div>-->

                <div class="browser-element p-a wow fadeInLeft" data-wow-delay="1s">
                    <img src="../../../assets/images/board/marketing/browser.svg" width="322" height="366" style="width: 322px;height: 366px;">
                </div>

                <div class="google-logo p-a wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/images/icons/google.svg" height="39" width="114" style="width: 114px;height: 39px;">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 text-content-holder">
            <div class="text-content">
                <div class="slide-label">
                    <a href="software.html" class="label transparent-white">دیجیتال مارکتینگ</a>
                    <h2 class="m-t-35">
                        <span class="block">افزایش فروش با اجرای دقیق استراتژی‌های دیجیتال مارکتینگ</span>
                        <strong class="block">در حوزه وب، شبکه‌های اجتماعی و تبلیغات</strong>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>