<div class="slide-content marketing-slide" data-slider="1">
    <div class="row reverse">
        <div class="col-xs-12 col-sm-6 no-select no-drag">
            <div class="image-holder right-direction">
                <div class="web-design-box left">
                    <div class="flex p-r">
                        <img src="../../../assets/images/board/web-design/plant.svg" width="120" height="158" class="plant wow fadeInRight p-a" style="width: 120px; height: 158px;">
                        <img src="../../../assets/images/board/web-design/design-window.svg" width="302" height="321" class="design-window fadeIn wow" data-wow-delay="0.3s" style="width: 302px; height: 321px;">

                        <img src="../../../assets/images/board/web-design/graph-item.svg" width="96" height="90" class="graph-item wow fadeInDown p-a" data-wow-delay="0.7s" style="width: 96px; height: 90px;">
                        <img src="../../../assets/images/board/web-design/chart-item.svg" width="95" height="90" class="chart-item wow fadeInDown p-a" data-wow-delay="1s" style="width: 95px; height: 90px;">
                        <img src="../../../assets/images/board/web-design/list-item.svg" width="209" height="122" class="list-item wow fadeInDown p-a" data-wow-delay="1.3s" style="width: 209px; height: 122px;">

                        <img src="../../../assets/images/board/web-design/paint.svg" width="151" height="107" class="paint wow fadeInRight p-a" data-wow-delay="1.6s" style="width: 151px; height: 107px;">
                        <img src="../../../assets/images/board/web-design/brush.svg" width="118" height="83" class="brush wow fadeInRight p-a" data-wow-delay="1.5s" style="width: 118px; height: 83px;">

                        <img src="../../../assets/images/board/web-design/man.svg" width="122" height="288" class="man wow fadeInLeft p-a" data-wow-delay="1.6s" style="width: 122px; height:288px ;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 text-content-holder">
            <div class="text-content">
                <div class="slide-label">
                    <a href="web-design.html" class="label transparent-white">طراحی وب‌سایت</a>
                    <h2 class="m-t-35">
                        <span class="block">بازتاب مجلل حرفه و تخصص شما در دنیای مجازی</span>
                        <strong class="block">با خدمات طراحی وب‌سایت همیار سیستم</strong>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>