<section class="web-design-advice cf">
    <div class="container">
        <div class="web-design-advice-box solid-blue white-text-color flex between-xs">
            <img src="../../assets/images/divider-wave.svg" width="620" height="99" class="p-a divider-wave no-select no-dra">

            <div class="section-content flex center-row">
                <p>
                    اگر قصد طراحی وب سایت را دارید، تردید نکنید و قبل از رقبای آینده خود، از خدمات مشاوره‌ما بهره‌مند شوید.
                </p>
            </div>
            <a href="contact-us.html" class="btn solid-yellow rounded p-r">مشاوره رایگان همیار سیستم</a>
        </div>
    </div>
</section>

<section class="section-margin about-web-design-section cf section-padding darker-section p-t-4-rem" id="about-web-design-section">
    <div class="container">
        <div class="section-content section-margin">
            <div class="row around-xs reverse">
                <div class="col-xs-12 col-md-6 flex center-column image-holder no-select no-drag center-text p-r odr-image-holder">
                    <img src="../../assets/images/board/development/odr-box.svg" width="584" height="408" style="width:584px;height:408px" class="odr-box">
                    <img src="../../assets/images/board/development/odr-date-box.svg" width="231" height="248" style="width:231px;height:248px" class="odr-date-box p-a wow fadeInUp" data-wow-delay="1s">
                    <img src="../../assets/images/characters/odr-doctor.svg" width="109" height="288" style="width:109px;height:288px" class="odr-doctor p-a wow fadeInLeft">
                    <div class="p-a notification solid-blue white-text-color padding-1-rem wow fadeInUp" data-wow-delay="1.8s">وقت شما برای ۱۴ مرداد ثبت گردید.</div>
                    <i class="rounded-rectangle rounded p-a"></i>
                </div>

                <div class="col-xs-12 col-md-5 flex center-column">
                    <h2 class="section-title right-text block full-width">طراحی زیبا متناسب با تخصص شما</h2>
                    <p class="lighter-text-color m-t-1-rem">
                        فراموش نکنید که کاربران در کمتر از چند ثانیه موس خود را برای خروج از وب سایت و یا خواندن ادامه‌مطلب شما، تکان خواهند داد؛ بی شک اگر پاسخ ذهنی فرد منفی باشد، فرصت خوبی برای رقیب شما ایجاد خواهدشد. پس با انتخاب یک طراحی خاص،
                        پویا و سازگار با نیاز کاربران، لذت تجربه ای تکرارنشدنی را به آنان هدیه دهید.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="standards-web-design-section section-margin cf" id="standards-web-design-section">
    <div class="container">
        <div class="section-content section-margin">
            <div class="row around-xs">

                <div class="col-xs-12 col-md-6 flex center-column image-holder no-select no-drag center-text p-r">
                    <img src="../../assets/images/board/web-design/mountain.svg" width="491" height="168" class="mountain" style="width:491px; height:168px">
                    <img src="../../assets/images/board/web-design/climber-man.svg" width="220" height="352" class="p-a climber-man wow fadeInUp" style="width:220px; height:352px">
                </div>

                <div class="col-xs-12 col-md-5 flex center-column">
                    <h2 class="section-title right-text block full-width">رعایت استاندارهای سئو در کدنویسی سایت</h2>
                    <p class="lighter-text-color m-t-1-rem">
                        کدهای وب سایت و سایر نرم افزارهایی که تیم برنامه نویسی ارائه می دهند کاملا منطبق با آخرین معیارها و قوانین سئو خواهند بود تا موقعیت وب سایت شما در مورتورهای جستجو بهبود و ارتقا پیدا کند. اگر می خواهید ترافیک بیشتری را به سمت
                        سایت خود روانه کنید، می بایست تمام اصول و قوائد سئو در کدنویسی سایت را در نظر داشته باشید.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="responsive-web-design-section section-margin cf" id="responsive-web-design-section">
    <div class="container">
        <div class="section-content">
            <div class="row around-xs reverse">

                <div class="col-xs-12 col-md-6 flex center-column image-holder no-select no-drag center-text p-r">
                    <img src="../../assets/images/oval-shape.svg" width="432" height="309" class="p-a oval-shape" style="width:432px; height:309px">
                    <img src="../../assets/images/oval-shape.svg" width="432" height="309" class="p-a oval-shape" style="width:432px; height:309px">
                    <img src="../../assets/images/board/web-design/nabzema-tablet.svg" width="362" height="228" class="p-a nabzema-tablet wow fadeInRight" style="width:362px; height:228px">
                    <img src="../../assets/images/board/web-design/nabzema-phone.svg" width="184" height="366" class="p-a nabzema-phone wow fadeInRight" style="width:243px; height:385px">
                    <img src="../../assets/images/board/web-design/large-plant.svg" width="94" height="222" class="p-a large-plant wow fadeInRight" style="width:94px; height:222px">
                </div>

                <div class="col-xs-12 col-md-5 flex center-column">
                    <h2 class="section-title right-text block full-width">نمایش ریسپانسیو در موبایل و تبلت</h2>
                    <p class="lighter-text-color m-t-1-rem">
                        در طراحی واکنشگرا یا ریسپانسیو، ساختار ظاهری وب سایت شما، متناسب با نوع صفحه نمایش که می تواند شامل: موبایل، دسکتاپ و تبلت باشد، تنظیم می شود. به این ترتیب کابران بدون نیاز به هر گونه تغییری می توانند مطالب وب سایت شما را به
                        راحتی مطالعه نمایند. در صورتی که قالب سایت شما نمایش درستی در موبایل و تبلت نداشته باشد، کاربران بسیاری را از دست خواهید داد.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="web-design-info-section light-blue-bg m-t-6-rem p-t-5-rem p-b-2-rem white-text-color cf" id="web-design-info-section">
    <div class="container">
        <div class="section-content">
            <div class="row between-xs">
                <div class="col-xs-12 col-lg-8">
                    <div class="row between-xs">
                        <div class="col-xs-12 col-md-6">
                            <div class="web-design-info-item">
                                <img src="../../assets/images/icons/server.svg" width="49" height="42" class="no-select no-drag">
                                <div class="web-design-info-content">
                                    <strong class="block font-size-19">سرورهای پرقدرت</strong>
                                    <p class="lighter-text-color font-weight-light font-size-14">
                                        همیار سیستم وب سایت شما را در 24 ساعت شبانه روز و هفت روز هفته با استفاده از ابر سرورهای تحت وب اختصاصی، سرویس ایمیل، ویدئو و تجهیزات مسیریابی در امنیت بالایی، حفاظت و پشتیبانی خواهد کرد. در صورت نیاز این فضای
                                        ذخیره سازی قابل افزایش و ارتقا خواهد بود.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="web-design-info-item">
                                <img src="../../assets/images/icons/emails.svg" width="43" height="43" class="no-select no-drag">
                                <div class="web-design-info-content">
                                    <strong class="block font-size-19">سرویس ارسال پیامک و ایمیل</strong>
                                    <p class="lighter-text-color font-weight-light font-size-14">
                                        مدیریت ایمیل از جمله مورادی است که مدنظر تیم همیار سیستم قرار گرفته است. خدماتی ویژه از جمله: ایجاد آدرس ایمیل سفارشی، فیلترینگ ایمیل ‌های اسپم و غیره در این سرویس مد نظر قرار گرفته است.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="web-design-info-item">
                                <img src="../../assets/images/icons/maintenance.svg" width="49" height="42" class="no-select no-drag">
                                <div class="web-design-info-content">
                                    <strong class="block font-size-19">مدیریت و پشتیبانی وب سایت</strong>
                                    <p class="lighter-text-color font-weight-light font-size-14">
                                        اشکالات احتمالی در وب سایت به صورت 24 ساعته توسط همکاران ما رفع و تمامی بخش ‌های آن به صورت مرتب به روز رسانی خواهند شد.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="web-design-info-item">
                                <img src="../../assets/images/icons/safe.svg" width="36" height="43" class="no-select no-drag">
                                <div class="web-design-info-content">
                                    <strong class="block font-size-19">امنیت اطلاعات وب سایت و کاربران</strong>
                                    <p class="lighter-text-color font-weight-light font-size-14">
                                        هاستینگ یا فضای ذخیره سازی وب در محیطی امن به کمک نرم افزارهای پیشرفته و پشتیبانی کادری مجرب تحت حفاظت و مراقبت قرار خواهد گرفت.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <a href="#" class="inline-web-design-info block pointer wow fadeInUp" data-wow-delay="0s">
                        <div class="image-holder p-r square-48 right flex center">
                            <img src="../../assets/images/pentagon-border.svg" width="56" height="53" class="p-a pentagon-border">
                            <img src="../../assets/images/icons/internet.svg" width="32" height="32" class="inline-icon">
                        </div>
                        <strong>ثبت هاست و دامنه رایگان</strong>
                    </a>
                    <a href="#" class="inline-web-design-info block pointer wow fadeInUp" data-wow-delay="0.2s">
                        <div class="image-holder p-r square-48 right flex center">
                            <img src="../../assets/images/pentagon-border.svg" width="56" height="53" class="p-a pentagon-border">
                            <img src="../../assets/images/icons/layers.svg" width="32" height="29" class="inline-icon">
                        </div>
                        <strong>ثبت هاست و دامنه رایگان</strong>
                    </a>
                    <a href="#" class="inline-web-design-info block pointer wow fadeInUp" data-wow-delay="0.4s">
                        <div class="image-holder p-r square-48 right flex center">
                            <img src="../../assets/images/pentagon-border.svg" width="56" height="53" class="p-a pentagon-border">
                            <img src="../../assets/images/icons/add-user.svg" width="24" height="24" class="inline-icon">
                        </div>
                        <strong>ثبت هاست و دامنه رایگان</strong>
                    </a>
                    <a href="#" class="inline-web-design-info block pointer wow fadeInUp" data-wow-delay="0.6s">
                        <div class="image-holder p-r square-48 right flex center">
                            <img src="../../assets/images/pentagon-border.svg" width="56" height="53" class="p-a pentagon-border">
                            <span>...</span>
                        </div>
                        <strong>و هزاران امکانات دیگر!</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>