${require('html-loader?interpolate!../Commons/Header.html')}
<div class="container">
    <div class="row between-xs m-t-4-rem m-b-4-rem reverse">
        <div class="col-xs-12 col-md-6 no-responsive-image">
            <div class="web-design-box web-design-header-box no-drag no-select right-direction left">
                <div class="image-holder p-r">
                    <img src="../../assets/images/board/web-design/pushing-website-man.svg" width="660" height="338" class="pushing-website-man wow fadeInLeft" style="width: 660px; height: 338px;">
                    <img src="../../assets/images/board/web-design/website-items.svg" width="392" height="232" class="website-items wow fadeInRight p-a" style="width: 392px; height: 232px;" data-wow-delay="0.5s">

                    <i class="dotted-square p-a wow rotateInDownLeft parallax" data-rellax-speed="2"></i>

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="section-content">
                <div class="section-title right-text">
                    <h1 class="block right-text m-b-6">طراحی سایت</h1>
                    <small class="block font-weight-light lighter-text-color font-size-16">به صورت ویژه میزبان مخاطبان خود باشید!</small>
                </div>
                <p class="section-content normal-text-color m-t-2-rem">
                    در شرکت همیار سیستم، مشتری مداری حرف اول و آخر را می زند. در همین راستا پیش از طراحی وب سایت تخصصی، به صورت حرفه ای رقبا و کابران آینده شما آنالیز می شوند تا چیدمان و دکوراسیون ویترین مجازی شما علاوه بر چشم نواز منحصر به فرد خود
                    بتواند رضایت صد در صدی مخاطبان خود را نیز کسب نماید.
                </p>
                <div class="m-t-2-rem">
                    <a href="#" class="btn green-bg wide">تعرفه طراحی سایت</a>
                    <a href="contact-us.html" class="btn solid-gray wide">مشاوره رایگان</a>
                </div>
            </div>
        </div>
    </div>
    ${require('html-loader?interpolate!../Commons/Header/Header-End.html')}