<section class="section-margin site-types-section cf" id="site-types-section">
    <div class="container">
        <div class="section-content center-text">
            <div class="row around-xs">
                <div class="col-xs-12 col-md-6">
                    <strong class="section-title darker-text-color">رقبای خود را شگفت زده کنید!</strong>
                    <p class="section-content lighter-text-color font-weight-light">
                        خط به خط وب سایت شما در همیار سیستم بر اساس اصول سئو، وضعیت وب سایت دیگر رقبا و سهولت کاربر طراحی خواهد شد. برنامه نویسان ما با جدیت و تمرکز، ساختار نهایی را به گونه ای پیاده سازی خواهند کرد که در هر زمینه ای برجسته و منحصر به
                        فرد باشد.
                    </p>
                </div>
            </div>
        </div>

        <div class="m-t-5-rem m-b-3-rem site-types-section-list">
            <div class="row between-xs">
                <div class="col-xs-6 col-md-3">
                    <a class="site-type-section block" href="#">
                        <div class="box white-text-color flex center red-bg no-select no-drag">
                            <img class="bg-image" src="../../assets/images/board/web-design/personal-websites.jpg?size=250">
                            <img class="icon" src="../../assets/images/icons/icon-user.svg" width="39" height="51">
                        </div>
                        <div class="box-title white-box rounded font-weight-bold">طراحی سایت شخصی</div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a class="site-type-section block" href="#">
                        <div class="box white-text-color flex center blue-bg no-select no-drag">
                            <img class="bg-image" src="../../assets/images/board/web-design/compony-websites.jpg?size=250">
                            <img class="icon" src="../../assets/images/icons/icon-apartements.svg" width="51" height="55">
                        </div>
                        <div class="box-title white-box rounded font-weight-bold">طراحی سایت شرکتی</div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a class="site-type-section block" href="#">
                        <div class="box white-text-color flex center green-bg no-select no-drag">
                            <img class="bg-image" src="../../assets/images/board/web-design/medical-websites.jpeg?size=250">
                            <img class="icon" src="../../assets/images/icons/icon-medical.svg" width="51" height="59">
                        </div>
                        <div class="box-title white-box rounded font-weight-bold">طراحی سایت پزشکی</div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a class="site-type-section block" href="#">
                        <div class="box white-text-color flex center yellow-bg no-select no-drag">
                            <img class="bg-image" src="../../assets/images/board/web-design/store-websites.jpg?size=250">
                            <img class="icon" src="../../assets/images/icons/icon-store.svg" width="50" height="50">
                        </div>
                        <div class="box-title white-box rounded font-weight-bold">طراحی سایت فروشگاهی</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>