<div class="prev-footer p-r overflow-hidden">
    <img src="../../assets/images/footer-wave.svg" class="footer-wave no-select no-drag">
    <div class="container content-holder">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <p class="font-size-16">
                    از رقبای خود عقب نمانید، برای <strong> مشاوره رایگان </strong> با ما تماس بگیرید.
                </p>
            </div>
            <div class="col-xs-12 col-md-6 left-text">
                <a href="#" class="btn darker-blue bold left">تماس با ما</a>
            </div>
        </div>
    </div>
</div>