<header class="header-section cf" id="header-section">
    <div class="container">
        <div class="header-navigation p-r left-text">
            <ul class="inline-list top-header-list content-holder">
                <li class="enable no-select"><a href="contact-us.html">درخواست مشاوره</a></li>
                <li><a href="tel:${require('../../../constants/Constants.ts').Constants.site.company.phone}">${require('../../../constants/Constants.ts').Constants.site.company.phone}</a></li>
            </ul>
        </div>
        <nav class="content-holder cf">
            <div class="header-navigation-holder inline-child right cf">
                <a href="/" class="flex center-row-flex">
                    <!--<img src="../../../assets/images/logo/colorful-logo.svg" width="223" height="194" alt="همیار سیستم" class="right header-navigation-logo no-drag">-->
                    <i class="icon-hamyarsystem no-drag no-select p-r"></i>