${require('html-loader?interpolate!../Commons/Header.html')}
<div class="container">
    <div class="row around-xs m-t-4-rem m-b-4-rem reverse">
        <div class="col-xs-12 col-md-6">
            <div class="shop-website-box p-r no-drag">
                <img src="../../assets/images/board/development/shop-website.svg" width="451" height="391" style="width:451px;height:391px" alt="Shop website" class="shop-website">
                <img src="../../assets/images/board/development/shop-website-payment.svg" width="130" height="88" style="width:130px;height:88px" class="shop-website-payment p-a wow fadeInUp" data-wow-delay="1.2s">
                <img src="../../assets/images/board/development/shop-website-items.svg" width="122" height="178" style="width:122px;height:178px" class="shop-website-items p-a wow fadeInUp" data-wow-delay="1.4s">
                <img src="../../assets/images/characters/purchaser-man.svg" width="88" height="319" style="width:88px;height:319px" class="purchaser-man p-a wow fadeInLeft parallax" data-rellax-speed="1.5" data-wow-delay="0.5s">
                <img src="../../assets/images/board/development/carts.svg" width="72" height="95" style="width:72px;height:95px" class="carts p-a wow fadeInLeft parallax" data-rellax-speed="1.5" data-wow-delay="1s">
                <i class="dotted-square p-a wow rotateInDownLeft parallax" data-rellax-speed="2"></i>
            </div>

        </div>
        <div class="col-xs-12 col-md-6">
            <div class="section-content">
                <div class="section-title right-text">
                    <h1 class="block right-text m-b-6">تولید نرم افزار</h1>
                    <small class="block font-weight-light lighter-text-color font-size-16">با برنامه نویسان حرفه ای ما، رویای خود را به واقعیت تبدیل کنید.</small>
                </div>

                <p class="section-content normal-text-color font-weight-light m-t-2-rem">
                    امروزه پیشرفت تکنولوژی و ارائه آن در قالب نرم افزار، برنامه ‌های کاربردی و اپلیکیشن موبایل، مبحث بسیار مهمی در زمینه بازاریابی و جذب روحیه تنوع پذیر افراد است چرا که مشغله ‌های کاری آنقدر زیاد است که رفع نیازهای بشر به صورت خودکار
                    به سمت اپلیکیشن ‌های تحت وب سوق پیدا کرده است. اما برگ برنده در دست نرم افزارها و اپلیکیشن‌هایی است که بتوانند نیازهای بشر را در کوتاهترین زمان ممکن، بدون دردسر و با کمترین هزینه برآورده کنند.
                </p>

                <div class="m-t-2-rem">
                    <a href="#" class="btn solid-blue wide">تعرفه توسعه نرم‌افزار</a>
                    <a href="contact-us.html" class="btn solid-gray wide">مشاوره رایگان</a>
                </div>
            </div>
        </div>
    </div>
    ${require('html-loader?interpolate!../Commons/Header/Header-End.html')}