<section class="up-to-header contact-section cf m-b-0" id="contact-section">
    <div class="container">
        <div class="section-content">
            <div class="row around-xs">
                <div class="col-xs-12 col-md-10">
                    <div class="center-text">
                        <h2 class="section-title darker-text-color">همیار سیستم از کجا شروع شد؟</h2>
                        <p class="section-content lighter-text-color">
                            من دلم میخواد شما به خواستتون برسید! چیزی مهم تر از اینم مگه هست!
                        </p>
                    </div>

                    <div class="m-t-2-rem">
                        <div class="white-box padding-30 overflow-hidden lighter-text-color">
                            <p class="font-size-16 m-t-0">
                                همیارسیستم یه دهه نودی فعال و کنجکاو بود که خیلی دلش می خواست بفهمه چطور بعضی سایت ها میان نوک قله و مدتها همونجا می مونن. واسه همین یه روز تصمیم گرفت کوله و آذوقه راه رو جمع کنه و پا به مسیری بذاره که پرفراز و نشیبه؛
                                اون تو این راه خیلی مطالعه کرد ولی یه چیز مهم فهمید اونم این بود که تو این مسیر، داشتن اراده، کم نیوردن و دوباره بلند شدن یکی از رازهای بزرگ اون سایت ها بوده.
                            </p>
                            <p class="font-size-16">
                                بعد کمی که جلوتر رفت، دلش خواست با یه سری نرم افزار خاص به مردمش کم کنه، همون آدم‌هایی که حتی قادر به پرداخت هزینه ویزیت هم نبودن، همونایی که شب ها از استرس سلامتیشون تا صبح بیدار بودن و چقدر به مشاوره آنلاین نیاز
                                داشتن. و حالا بعد از گذشت چند سال، نمونه کارهای ما، معرف همیار سیستم هستند. با این حال، تمام تلاشمون رو می کنیم تا در کنار خدمات ما لبخند بزنید، راضی باشید و روزی...
                            </p>
                            <p class="font-size-16">
                                دوست هم باشیم تا کارفرما و مشتری!
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>