<section class="intro-margin service-section cf" id="service-section">
    <div class="container">
        <div class="basic-services-info section-content section-margin m-t-6-rem">
            <div class="row between-xs reverse">
                <div class="col-xs-12 col-md-6 image-holder">
                    <div class="p-r no-drag no-select m-t-n-1-rem left">
                        <div class="emonshi-layout p-r">
                            <i class="p-a icon-emonshi wow fadeInUp"></i>
                            <i class="p-a rounded menu wow fadeInUp enable"></i>
                            <i class="p-a rounded menu wow fadeInUp" data-wow-delay="0.2s"></i>
                            <i class="p-a rounded menu wow fadeInUp" data-wow-delay="0.3s"></i>
                            <i class="p-a rounded menu wow fadeInUp" data-wow-delay="0.4s"></i>
                            <div class="visitors-layout p-r"></div>
                            <div class="p-a box-line wow fadeInUp" data-wow-delay="0.8s">
                                <span class="label solid-orange wow fadeInUp" data-wow-delay="1.3s">وقت‌های امروز</span>
                                <span class="label solid-orange wow fadeInUp" data-wow-delay="1.5s">مراجعین مطب</span>
                            </div>
                            <div class="p-a box-line wow fadeInUp" data-wow-delay="1s">
                                <span>روزهای کاری مطب</span>
                                <div class="flex between-xs">
                                    <i class="day-status enable wow fadeInUp" data-wow-delay="1.2s"></i>
                                    <i class="day-status wow fadeInUp" data-wow-delay="1.3s"></i>
                                    <i class="day-status enable wow fadeInUp" data-wow-delay="1.4s"></i>
                                    <i class="day-status wow fadeInUp" data-wow-delay="1.5s"></i>
                                    <i class="day-status enable wow fadeInUp" data-wow-delay="1.6s"></i>
                                </div>
                            </div>
                        </div>

                        <div class="emonshi-patients-layout p-a wow fadeInUp" data-wow-delay="1.8s">
                            <span>مراجعین حاضر کلینیک آرا</span>
                            <div class="cf wow fadeInUp" data-wow-delay="2s">
                                <span>سارا نعمتی</span>
                                <span class="label solid-orange">پرونده</span>
                            </div>
                            <div class="cf wow fadeInUp" data-wow-delay="2.1s">
                                <i></i>
                                <span class="label solid-orange">پرونده</span>
                            </div>
                            <div class="cf wow fadeInUp" data-wow-delay="2.2s">
                                <i></i>
                                <span class="label solid-orange">پرونده</span>
                            </div>
                            <i class="shadow-bg"></i>
                            <i class="shadow-bg"></i>
                        </div>

                        <div class="emonshi-doctor-images p-a wow fadeInLeft" data-wow-delay="1.5s">
                            <img src="../../assets/images/characters/emonshi-doctor.svg" width="114" height="235">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="section-content">
                        <div class="section-title right-text flex center-items">
                            خدمات نوین همیار سیستم به پزشکان
                        </div>

                        <p class="section-content normal-text-color font-weight-light m-t-2-rem">
                            همیار سیستم طی سال ها فعالیت خود، با مطالعه دقیق نیاز پزشکان و بیماران همواره به دنبال ارائه مطالب سلامتی منطبق با آخرین دستاوردهای علم پزشکی و همچنین آسان کردن راه ‌های ارتباطی میان بیماران با پزشک از طریق نرم افزار پرسش
                            از دکتر و نوبت دهی آنلاین بوده است. نرم افزارهایی که با علاوه بر پاسخگویی کاربران و افزایش بازدید سایت توانستند تا سبب ایجاد انگیزه در بیماران و تشویق بیشتر آنها برای ورود به مطب شوند.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-margin section-padding darker-section about-services-section m-t-8-rem cf" id="about-services-section">
    <div class="container">
        <div class="basic-services-info section-content section-margin m-t-6-rem">
            <div class="row between-xs">
                <div class="col-xs-12 col-md-6">
                    <div class="activity-fields no-select">
                        <div class="field-line">
                            <div class="shadow green-bg flex center"><strong>پزشکی، دندان پزشکی، دامپزشکی</strong></div>
                            <div class="shadow pink-bg flex center"><strong>بیمارستان ها</strong></div>
                        </div>
                        <div class="field-line">
                            <div class="shadow orange-bg flex center"><strong>باشگاه ‌های ورزشی</strong></div>
                            <div class="shadow purple-bg flex center"><strong>شبکه ‌های بهداشت و درمان</strong></div>
                        </div>
                        <div class="field-line">
                            <div class="shadow cyan-bg flex center"><strong>کلینیک ‌های پزشکی</strong></div>
                            <div class="shadow blue-bg flex center"><strong>وکلا</strong></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="section-content">
                        <div class="section-title right-text flex center-items">
                            نمونه کارهای همیار سیستم
                        </div>

                        <p class="section-content normal-text-color font-weight-light m-t-2-rem lighter-text-color">
                            از شما دعوت می کنیم تا مجموعه وب سایت ‌های همیار سیستم را از نمای نزدیک ببینید.
                        </p>
                        <a href="#" class="btn white bold shadow m-t-1-rem">مشاهده پروژه ها</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>