<div class="header-slider-carousel no-select cf" id="header-slider-carousel">
    <ul class="cf">
        <li data-slider="3">
            <div class="carousel-icon">
                <i class="icon-touch_app"></i>
            </div>
            <div class="carousel-content">طراحی نرم‌افزارهای هوشمند بر اساس آخرین استانداردهای کدنویسی روز دنیا</div>
        </li>

        <li data-slider="2">
            <div class="carousel-icon">
                <i class="icon-highlight"></i>
            </div>
            <div class="carousel-content">افزایش فروش با اجرای دقیق استراتژی‌های دیجیتال مارکتینگ</div>
        </li>
        <li data-slider="1" class="enable">
            <div class="carousel-icon">
                <i class="icon-important_devices"></i>
            </div>
            <div class="carousel-content">بازتاب مجلل حرفه و تخصص شما در میان هزاران وب‌سایت</div>
        </li>
    </ul>
</div>
