<section class="our-services-section p-r cf p-t-14-rem p-b-6-rem m-t-n-8-rem no-select" id="our-services-section">
    <div class="container">
        <div class="section-content">
            <div class="row between-sm around-xs">
                <div class="col-xs-12 col-sm-6 our-services-section-placeholder p-r">
                    <div class="services-app-preview wow fadeInUp" data-wow-delay="0.1s">
                        <div class="notification-placeholder cf">
                            <div class="avatar avatar-placeholder rounded square-40 right"></div>
                            <div class="content-placeholder m-r-20 right">
                                <div class="title-placeholder rounded"></div>
                                <div class="description-placeholder rounded"></div>
                            </div>
                        </div>
                        <div class="notification-info cf">
                            <div class="notification-header cf">
                                <div class="avatar rounded square-40 right no-drag">
                                    <img src="../../assets/images/sample/sample-girl.jpg?size=50" width="50" height="50" alt="Sample User" class="square-40">
                                </div>
                                <strong class="sender-name">سارا</strong>
                                <span class="post-date">8 ساعت قبل</span>
                            </div>

                            <p class="notification-content">
                                سلام اقای دكتر؛ ببخشید می‌خواستم بپرسم من الان ٣ ماهی هست قرص كلشی سین و قرص پردنیزولون به طور روزی ١ عدد صبح و ١ عدد شب استفاده می‌كنم. آیا قرصی چیزی هست كه از ریختن موهام جلو گیری كنه؟
                            </p>

                            <div class="answer">
                                <div class="notification-header cf">
                                    <div class="avatar rounded square-45 right no-drag">
                                        <img src="../../assets/images/clients/drentezari.jpeg?size=50" width="50" height="50" alt="Sample User" class="square-45">
                                    </div>
                                </div>

                                <p class="notification-content">
                                    سلام جانم؛ در این‌گونه موارد کپسول زینک ممکن است کمک کننده باشد. موفق باشید.
                                </p>
                            </div>
                        </div>
                        <div class="notification-placeholder cf">
                            <div class="avatar-placeholder rounded square-40 right"></div>
                            <div class="content-placeholder m-r-20 right">
                                <div class="title-placeholder rounded"></div>
                                <div class="description-placeholder rounded"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-sm-offset-1 our-services-section-content">
                    <div class="section-title right-text">
                        <small class="block font-weight-light lighter-text-color">نرم افزار‌هایی که برای کسب و کار خود نیاز دارید</small>
                        <strong class="block">تخصص همیار سیستم است</strong>
                    </div>

                    <div class="section-content darker-text-color center-text m-t-2-rem no-select">
                        <ul>
                            <li class="pointer flex center-column enable">
                                <i class="icon-comment"></i>
                                <span>نرم افزار</span>
                                <strong>پرسش و پاسخ</strong>
                            </li>
                            <li class="pointer flex center-column">
                                <i class="icon-alarm1"></i>
                                <span>نرم افزار</span>
                                <strong>تعیین وقت آنلاین</strong>
                            </li>
                            <li class="pointer flex center-column">
                                <i class="icon-emonshi"></i>
                                <span>نرم افزار</span>
                                <strong>مدیریت مطب</strong>
                            </li>
                            <li class="pointer flex center-column">
                                <i class="icon-hamyarsystem"></i>
                                <span>نرم افزار</span>
                                <strong>مورد نظر شما با ما!</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>