<section class="intro-margin service-section cf m-b-0" id="service-section">
    <div class="container">
        <div class="section-content center-text">
            <div class="row around-xs">
                <div class="col-xs-12 col-md-6 col-xs-6">
                    <h2 class="section-title darker-text-color">متفاوت باشید</h2>
                    <p class="section-content lighter-text-color">
                        ما در همیار سیستم به شما نشان خواهیم داد که چگونه بزرگترین پایگاه اینترنتی در فضای وب را از آن خود کنید. با انتخاب همیار سیستم در طراحی سایت، سئو، تولید محتوا، تبلیغات و پیاده سازی پروژه ‌های نرم افزاری، به صورت ویژه میزبان
                        مخاطبان خود باشید.
                    </p>
                </div>
            </div>
        </div>

        <div class="basic-services-info section-content section-margin m-t-6-rem">
            <div class="row between-xs reverse">
                <div class="col-xs-12 col-md-5">
                    <div class="google-result-box p-r no-drag">
                        <img src="../../assets/images/analytics-shape.jpeg" width="384" height="420" style="width:384px;height:420px" alt="Analytics Wallpaper" class="analytics-square p-a">
                        <img src="../../assets/images/google-window.svg" width="483" height="395" style="width:483px;height:395px" alt="Google Window" class="google-window m-t-2-rem">
                        <img src="../../assets/images/google-result-item.svg" width="518" height="151" style="width:518px;height:151px" alt="Google Item" class="google-result p-a wow fadeInUp" data-wow-offset="250">
                        <div class="client-images">
                            ${require('../../constants/HomePage.ts').HomePage.clientServices.map((image, index) => image && `
                            <div><img srcSet="${image.srcSet}" src="${image.src}" width="400" height="667" alt="مشتری ${index}"></div>
                            `).join('')}
                        </div>
                        <i class="dotted-square p-a wow rotateInDownLeft" data-rellax-speed="2"></i>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 flex center">
                    <div class="section-content">
                        <div class="section-title right-text flex center-items">
                            <div class="square-46 p-r no-drag">
                                <i class="star-icon p-a square-20 wow bounceIn" style="right:-10px;top:-30px"></i>
                                <i class="star-icon p-a square-10 wow bounceIn" style="right:45px;top:-20px;"></i>
                                <i class="star-icon p-a square-15 wow bounceIn" style="right:-20px;bottom:0;"></i>
                                <img class="square-46" src="../../assets/images/icons/cup.svg" alt="Cup" width="64" height="64">
                            </div>
                            <div class="m-r-20">
                                <small class="block font-weight-light lighter-text-color">اگر به رتبه‌ی اول گوگل فکر نمی‌کنید</small>
                                <strong class="block">ما اصلا گزینه مناسبی نیستیم</strong>
                            </div>
                        </div>
                        <p class="section-content normal-text-color font-weight-light m-t-2-rem">
                            اگر تولید محتوا را با تحلیل و بررسی فراوان انجام می دهیم، اگر آخرین نرم افزارها را برای افزایش ترافیک ارگانیک وب سایت شما به کار می بریم و اگر جدیدترین متدهای سئو را با حساسیت زیاد دنبال می کنیم، تنها یک دلیل دارد؛ پیشنهاد
                            گوگل به مردمی که بی صبرانه منتظر نتیجه نهایی دغدغه، پرسش و یا محصول خود هستند، شما باشید!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="more-service-info-box section-content m-t-6-rem">
            <div class="more-service-info-box-holder no-select padding-1-rem">
                <div class="flex center-items row around-md">
                    <div class="col-xs-12 col-md-2">
                        <h2>چرا مارکتینگ در اینترنت اهمیت ویژه ای دارد؟</h2>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <div class="info-box-content pointer flex center-items around-md enable">
                            <i class="icon-person"></i>
                            <div>
                                <span>جمعیت کشور</span>
                                <strong>۸۰ میلیون نفر</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <div class="info-box-content pointer flex center-items around-md">
                            <i class="icon-wifi"></i>
                            <div>
                                <span>دسترسی به اینترنت</span>
                                <strong>۴۵ میلیون نفر</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <div class="info-box-content pointer flex center-items around-md">
                            <i class="icon-photo_camera"></i>
                            <div>
                                <span>کاربر اینستاگرام</span>
                                <strong>۲۰ میلیون نفر</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <div class="info-box-content pointer flex center-items around-md">
                            <i class="icon-search1"></i>
                            <div>
                                <span>جست‌و‌جو در گوگل</span>
                                <strong>۱۰۰ میلیون نفر</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>