${require('html-loader?interpolate!../Commons/Header.html')}
<div class="container">
    <div class="row between-xs m-t-4-rem m-b-4-rem reverse">
        <div class="col-xs-12 col-md-5">
            <div class="google-result-box google-statistics p-r no-drag">
                <img src="../../assets/images/google-window.svg" width="483" height="395" style="width:483px;height:395px" alt="Google Window" class="google-window m-t-2-rem">
                <img src="../../assets/images/google-result-item.svg" width="518" height="151" style="width:518px;height:151px" alt="Google Item" class="google-result p-a wow fadeInUp">

                <img src="../../assets/images/google-statistics.svg" width="188" height="171" class="statistics p-a wow fadeInDown parallax" data-rellax-speed="-1" alt="Google Statistics" data-wow-delay="1.3s">

                <img src="../../assets/images/paper-gray.svg" width="122" height="56" class="paper-gray p-a wow zoomIn parallax" data-rellax-speed="2" data-wow-delay="1.5s">
                <img src="../../assets/images/paper-gray-small.svg" width="65" height="51" class="paper-gray-small p-a wow zoomIn parallax" data-rellax-speed="2" data-wow-delay="1.7s">
                <img src="../../assets/images/paper-gold.svg" width="88" height="76" class="paper-gold p-a wow zoomIn parallax" data-rellax-speed="2" data-wow-delay="1.5s">

                <img src="../../assets/images/google-result-star.svg" class="google-result-2 p-a wow fadeInUp" width="144" height="45" alt="" data-wow-delay="0.3s">
                <img src="../../assets/images/google-result.svg" class="google-result-1 p-a wow fadeInUp" width="118" height="23" alt="" data-wow-delay="0.6s">

                <i class="dotted-square p-a wow rotateInDownLeft parallax" data-rellax-speed="2"></i>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="section-content">
                <div class="section-title right-text">
                    <h1 class="block right-text m-b-6">سئو و بهینه سازی وب سایت</h1>
                    <small class="block font-weight-light lighter-text-color font-size-16">با همیارسیستم برگ برنده را در دست داشته باشید.</small>
                </div>
                <p class="section-content normal-text-color font-weight-light m-t-2-rem">
                    امروزه روز به روز به تعداد کاربرانی که نیازهای خود را در گوگل جستجو می کنند، افزوده می شود. اگر وب سایت شما در صفحات سوم و چهارم قرار داشته باشد، عملا مانند انسانی هستید که در ته یک چاه گرفتار شده و هیچ کس صدای او را نمی شنود. اما
                    راه نجات از این چاه عمیق، سئو است که به مجموعه فعالیت‌هایی اطلاق می شود که در طراحی سایت، تعیین استراتژی محتوایی، تولید محتوا و بررسی رفتار کاربران دخیل است و اگر به صورت اصولی و دقیق اجرا شود؛ علاوه بر افزایش بازدید سبب می شود تا
                    وب سایت شما در میان نتایج برتر گوگل حضور داشته باشد.
                </p>

                <div class="m-t-2-rem">
                    <a href="#" class="btn solid-blue wide">تعرفه بهینه سازی</a>
                    <a href="contact-us.html" class="btn solid-gray wide">مشاوره رایگان</a>
                </div>
            </div>
        </div>
    </div>
    ${require('html-loader?interpolate!../Commons/Header/Header-End.html')}